# Collaberative Filtering

In [1]:
from fastai import *
from fastai.collab import *
from fastai.tabular import *

In [2]:
user, item, title = 'userId', 'movieId', 'title'

In [4]:
path = untar_data(URLs.ML_SAMPLE) # Movie Lens dataset sample
path

PosixPath('/home/jupyter/.fastai/data/movie_lens_sample')

In [5]:
path.ls()

[PosixPath('/home/jupyter/.fastai/data/movie_lens_sample/ratings.csv')]

In [6]:
ratings = pd.read_csv(path/'ratings.csv')

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [9]:
data = CollabDataBunch.from_df(ratings, seed = 42)

In [10]:
y_range = [0, 5.5]

In [11]:
learn = collab_learner(data, n_factors = 50, y_range = y_range)

In [12]:
learn.fit_one_cycle(4, 5e-3)