# Tabular Models

In [1]:
from fastai import *
from fastai.tabular import *

Tabular datra should be in a pandas "DataFrame"

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)

In [3]:
df = pd.read_csv(path/'adult.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>=50k
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,1
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,1
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,0
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,0

In [7]:
dep_var = ">=50k" # Dependant variable
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'] # Categorical Variable
cont_names = ['age', 'fnlwgt', 'education-num'] # Continuous variable
procs = [FillMissing, Categorify, Normalize] # Processes (that are similar to Transformations done in image data)
# Except that here they're only performed once - a pre-computation step

In [9]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path = path, cat_names = cat_names, cont_names = cont_names)

In [10]:
data = (TabularList.from_df(df, path = path, cat_names = cat_names, cont_names = cont_names, procs = procs)
       .split_by_idx(list(range(800,1000))) # Dev set is sliced in the range of 800 - 1000
       .label_from_df(cols = dep_var)
       .add_test(test, label = 0)
       .databunch())

In [11]:
data.show_batch(5)

In [14]:
learn = tabular_learner(data, layers = [200, 100], metrics = accuracy)

In [15]:
learn.fit(1, 1e-2)

## Now doing the inference

In [22]:
row = df.iloc[0]

In [23]:
print(row)

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
>=50k                               1
Name: 0, dtype: object

In [24]:
learn.predict(row)

(Category 1, tensor(1), tensor([0.3973, 0.6027]))